<!DOCTYPE html>
<html>
  <head>
    <title>Bookmark Manager</title>
  </head>

  <body>
    <% if current_user %>
      <h1>Welcome <%= current_user.email %></h1>
    <% end %>
    <% if flash[:failure] %><div id="error_messages">
    <% flash[:failure].each do |error| %>
    <li><%= error %></li>
    <% end %>
    </div>
    <% end %>
    <%= yield %>
  </body>
</html>
